.wrap {
    width: 400px;
    margin: 0 auto;
    padding: 50px;
    margin-top: 50px;
    border: 1px solid #eaecef;
    background-color: #f6f8fa;
    border-radius: 5px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.6em;
    font-weight: 400;
}
.buttonSend {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 376px) {
    
}
@media (min-width: 769px) {
    .wrap {
        padding: 50px;
    }
}
@media (min-width: 1281px) {
    
}