.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.object {
    padding-bottom: 1rem;
}
.object div {
    padding-bottom: 8px;
}


@media (min-width: 376px) {

}
@media (min-width: 769px) {

}
@media (min-width: 1281px) {

}